{% extends 'main/contact.html' %}
{% load crispy_forms_tags %}
{% block content %}
   <div class="row justify-content-center">
      <div class="col-4">
         <div class="card">
             <div class="card-body">
          <h2 class="contact-title">Change Password</h2>
                 <form>
                 {{form|crispy}}
                 </form>
          <button type="submit" class="btn btn-primary">Change</button>
                            </div>
         </div>
     </div>
  </div>
{% endblock %}

